.flashbox グループを作成しました

.container
  .sidebar
    = render 'shared/side_bar' 
  .main
    .main__header
      .main__header--group
        .main__header--group-name 
          = @group.name
        .main__header--group-users
          - @group.group_users.each do |group_user|
            member :
            = group_user.user.name
      .main__header--btn 
        = link_to edit_group_path(@group.id) do
          Edit

    .main__middle
      .comment
      - @messages.each do |message|
        .comment__info
          .comment__info--name
            = message.user.name
          .comment__info--date
            = message.created_at.strftime("%Y/%m/%d %H:%M")
        .comment__text
          = message.content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
      