.flashbox グループを作成しました

.container
  .side-bar
    = render 'shared/side_bar' 
  .main
    .main__header
      .main__header--group
        .main__header--group-name 
          = @group.name
        %ul.main__header--group-users
          Member :
          - @group.group_users.each do |group_user|
            = group_user.user.name
      .main__header--btn 
        = link_to edit_group_path(@group.id) do
          Edit

    .main__middle
      = render 'messages/comments'
    .form
      = form_for [@group, @message], html: {class: 'new_message'} do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit', id: 'submit-btn'
      